@model string
<script type="text/javascript">                    
</script>
<div class="BordeRedondeadoTab" style="font-weight: 100;">
    @{
        string ErrorMensaje = Model;
    }
    @ErrorMensaje
</div>            
